<button 
    type="button" 
    class="flex rounded-full" 
    aria-expanded="false" 
    type="button"
    (click)="isOpen = !isOpen" 
    cdkOverlayOrigin 
    #menuOverlay="cdkOverlayOrigin"
    
>
    <img 
        class="w-8 h-8 rounded-full" 
        src="https://i.pravatar.cc/400"
        alt="user photo" />
</button>
            
<ng-template 
    cdkConnectedOverlay 
    [cdkConnectedOverlayOrigin]="menuOverlay" 
    [cdkConnectedOverlayOpen]="isOpen"
    (overlayOutsideClick)="isOpen = !isOpen"
>
    <div class="z-50 my-4 w-60 text-xs list-none bg-white rounded-xl divide-y divide-gray-100 shadow">
        <div class="py-3 px-4 flex justify-between">
            <span class="block text-xs text-center font-semibold text-gray-400">ACCOUNT</span>
            <button (click)="isOpen = !isOpen" class="block text-gray-900">&times;</button>
        </div>
        <div class="py-3 flex flex-col ">
            <div class="flex items-center space-x-4 px-4">
                <img class="w-10 h-10 rounded-full" src="https://i.pravatar.cc/400" alt="" />
                <div class="space-y-0">
                    <div class="font-normal text-sm">Jese Leos</div>
                    <div class="text-xs text-gray-500">nico.gmail.com</div>
                </div>
            </div>
            <ul class="pb-1 pt-2">
                <li>
                    <a 
                        href="#"
                        class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600"
                    >Switch Account</a>
                </li>
                <li>
                    <a 
                        href="#"
                        class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600"
                    >Manage Account</a>
                </li>
            </ul>
        </div>
        <div>
            <h2 class="px-4 text-xs pt-2 font-semibold text-gray-400">TRELLO</h2>
            <ul class="py-1">
                <li>
                    <a 
                        href="#"
                        class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600"
                    >Profile and visibility</a>
                </li>
                <li>
                    <a 
                        href="#"
                        class="block py-2 px-4  hover:bg-gray-100 dark:hover:bg-gray-600"
                    >Activity</a>
                </li>
                <li>
                    <a 
                        href="#"
                        class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600"
                    >Cards</a>
                </li>
                <li>
                    <a 
                        href="#"
                        class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600"
                    >Settings</a>
                </li>
            </ul>
        </div>
        <ul class="py-1">
            <li>
                <a href="#" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600">Create Workspace</a>
            </li>
        </ul>
        <ul class="py-1">
            <li>
                <a href="#" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600">Help</a>
            </li>
            <li>
                <a href="#" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600">Shortcuts</a>
            </li>
        </ul>
        <ul class="py-1">
            <li>
                <a href="#" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600">Log out</a>
            </li>
        </ul>
    </div>
</ng-template>